/* 
  PASO 1: Asegúrate de haber enlazado este archivo en tu HTML con:
  <link rel="stylesheet" href="styles.css">
  
  PASO 2: Pega aquí los estilos para tu sitio.
*/
/* 1. Define tu paleta de colores usando variables HSL en :root */
:root {
  --primary-color: hsl(235, 92%, 95%);
  /* Azul */
  --secondary-color: hsl(234, 100%, 27%);
  --bg-light: hsla(234, 100%, 82%, 0.5);
}


body {
  /* TODO: Aplica aquí la font-family que elegiste de Google Fonts */
  /* No olvides incluir una fuente genérica como 'sans-serif' como respaldo */
  font-family: "Inter", sans-serif;
  background-color: var(--bg-light)
}

header {
  /* 3. Crea un fondo con un gradiente lineal que vaya de primary a secondary */
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  color: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.8rem;
}

nav {
  background-color: hsl(234, 100%, 95%, 0.6);
  padding: 0.1rem;
  border-radius: 0.5rem;
  padding: 3px;
  border-radius: 0.5rem;
  border-style: solid none solid none;
  border-width: 3px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;

}

nav ul li {
  list-style: none;
  border-radius: 0.2rem;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

figcaption {
  font-size: 0.8rem;
  color: var(--secondary-color);
  margin-top: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

section {
  /* 4. Usa un color con transparencia (hsla o rgba) para un fondo suave */
  background-color: hsl(234, 100%, 75%, 0.5);
  border-radius: 0.8rem;
  margin: 1rem;
  padding: 1rem;
}

h1 {
  /* TODO: Configura un font-size grande (ej. 2.5rem) y font-weight: 700 */
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  /* TODO: Usa un font-size de 1rem y un font-weight: 400 para los párrafos */
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  max-width: 90ch;
}

p.texto-header {
  background-color: hsl(234, 100%, 80%, 0.6);
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  max-width: none;
  padding: 9px;
  border-radius: 0.5rem;
  border-style: solid none solid none;
  border-width: 3px;
}

/* TODO: Personaliza los enlaces (a) para que resalten */
a {
  color: #062a58;
  /* Color azul para los enlaces */
  font-weight: 500;
  /* Peso de fuente medio */
  text-decoration: underline solid;
}

a:hover {
  color: #0753c5;
  /* Color más oscuro al pasar el mouse */
}