// Colores base
$color-blanco: #dbd6d6;
$color-negro: #000000cc;

// Colores principales
$color-primario: #000e8a;
$color-secundario: #e7e8feea;
$color-acento: #0753c5;
$color-fondo-claro: #a3acff80;
$color-fondo-texto-header: #99a3ff99;

// Gradientes
$color-gradiente-desde: #0753c5;
$color-gradiente-hasta: #95b4e0;

// Colores de navegación
$color-fondo-nav: #e5e8ff99;
$color-fondo-hover: #d617171a;
$color-fondo-active: #846dec1a;

// Colores de Secciones
$color-fondo-section: #808cff80;
$color-fondo-article: #e5e8ff80;