@use "../utilities/variables" as *;

// Cards

%card-base {
    background-color: $color-fondo-article;
    border-radius: 0.8rem;
    border-style: none solid solid none;
    border-color: $color-primario;
}


article {
    @extend %card-base;

    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 20px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

// Integración con Bootstrap

article.card {
    @extend %card-base;

    border-width: 0 3px 3px 0;
}

// Texto de las cards

article p {
    text-align: justify;
    margin-top: 10px;
    font-size: 0.9rem;
    color: $color-primario;
}