@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;


// Elementos multimedia

figure {
    @include flex-columna-centrado;
    margin: 1rem;
}

figcaption {
    font-size: 0.8rem;
    color: $color-primario;
    margin-top: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}