// Uses
@use "../utilities/variables" as *;

// Tipografía
body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
}

// Textos planos

.texto-plano,
.texto-plano-centrado,
.texto-plano-justificado {
    font-size: $font-size-texto-plano;
    font-weight: $font-weight-texto-plano;
    line-height: normal;
    margin-bottom: 1rem;
}

.texto-plano-centrado {
    text-align: center;
}

.texto-plano-justificado {
    text-align: justify;
}

// Responsive

@media (min-width: 768px) {

    .texto-plano,
    .texto-plano-centrado,
    .texto-plano-justificado {
        font-size: $font-size-texto-plano-responsive;
        font-weight: $font-weight-texto-plano-tablet;
    }
}

@media (min-width: 1024px) {

    .texto-plano,
    .texto-plano-centrado,
    .texto-plano-justificado {
        font-size: $font-size-texto-plano-responsive;
        font-weight: $font-weight-texto-plano-desktop;
    }

    .texto-plano-centrado,
    .texto-plano-justificado {
        display: block;
    }
}